<div class="col-lg-12">
    <div class="row">
        <form (ngSubmit)="onSubmit()" class="col-lg-5" #studentRegistrationForm="ngForm">

            <mat-form-field appearance="outline">
                <mat-label for="firstName">First Name</mat-label>
                <input matInput placeholder="Placeholder" id="firstName" name="firstName"
                    [ngModel]="studentDetails.firstName" required #fname="ngModel">
                <small *ngIf="fname.invalid && fname.touched">*First name is required</small>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="lastName">Last Name</mat-label>
                <input matInput placeholder="Placeholder" id="lastName" name="lastName"
                    [ngModel]="studentDetails.lastName" required #lname="ngModel">
                <small *ngIf="lname.invalid && lname.touched">*Last name is required</small>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="knownAs">Known As</mat-label>
                <input matInput placeholder="Placeholder" id="knownAs" name="knownAs"
                    [ngModel]="studentDetails.knownAs">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="displayName">Display Name</mat-label>
                <input matInput placeholder="Placeholder" id="displayName" name="displayName"
                    [ngModel]="studentDetails.displayName" required #displayName="ngModel">
                <small *ngIf="displayName.invalid && displayName.touched">*Display name is required</small>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="dob">Date of Birth</mat-label>
                <input matInput id="dob" name="dob" [ngModel]="studentDetails.dateOfBirth" required #dob="ngModel"
                    [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <small *ngIf="dob.invalid && dob.touched">*Date of Birth is required</small>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="gender">Gender</mat-label>
                <mat-select id="gender" name="gender" [ngModel]="studentDetails.gender" required #gender="ngModel">
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                    <mat-option value="O">Other</mat-option>
                </mat-select>
                <small *ngIf="gender.invalid && gender.touched">*Gender is required</small>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="universityEmail">University Email</mat-label>
                <input matInput placeholder="name@bcu.ac.uk" id="universityEmail" name="universityEmail"
                    [ngModel]="studentDetails.universityEmail" required #universityEmail="ngModel">
                <small *ngIf="universityEmail.invalid && universityEmail.touched">*University Email is required</small>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="homeOrOverseas">Home or Overseas</mat-label>
                <mat-select id="homeOrOverseas" name="homeOrOverseas" [ngModel]="studentDetails.homeOrOverseas" required
                    #homeOrOverseas="ngModel">
                    <mat-option value="H">Home</mat-option>
                    <mat-option value="O">Overseas</mat-option>
                </mat-select>
                <small *ngIf="homeOrOverseas.invalid && homeOrOverseas.touched">*Home or Overseas is required</small>
            </mat-form-field>

        </form>
        <div class="col-lg-7">
            <div class="component-spacer">
                <table mat-table [dataSource]="dataSource" #sortCourseEnrolment="matSort" matSort>

                    <ng-container matColumnDef="courseCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Code </th>
                        <td mat-cell *matCellDef="let row"> {{row.course.courseCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="courseName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
                        <td mat-cell *matCellDef="let row"> {{row.course.courseName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="occurrence">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Occurrence </th>
                        <td mat-cell *matCellDef="let row"> {{row.occurrence}} </td>
                    </ng-container>

                    <ng-container matColumnDef="enrolmentStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrolment Status </th>
                        <td mat-cell *matCellDef="let row"> {{row.enrolmentStatus}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="editEnrolment(row)" color="primary">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteEnrolment(row)" color="warn">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of enrolled courses">
                </mat-paginator>
            </div>

            <form (ngSubmit)="onSubmit()" #courseEnrolmentForm="ngForm">

                <mat-form-field appearance="outline">
                    <mat-label for="academicYear">Academic Year</mat-label>
                    <input matInput id="academicYear" name="academicYear" [ngModel]="enrolmentDetails.academicYear"
                        required #academicYear="ngModel">
                    <small *ngIf="academicYear.invalid && academicYear.touched">*Academic Year is required</small>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="yearOfStudy">Year Of Study</mat-label>
                    <input matInput id="yearOfStudy" name="yearOfStudy" [ngModel]="enrolmentDetails.yearOfStudy"
                        required #yearOfStudy="ngModel">
                    <small *ngIf="yearOfStudy.invalid && yearOfStudy.touched">*Year of study is required</small>
                </mat-form-field>

                <div class="radio-grp-spacer">
                    <mat-label for="occurrence">Occurrence: </mat-label>
                    <mat-radio-group id="occurrence" name="occurrence" [ngModel]="enrolmentDetails.occurrence" required
                        #occurrence="ngModel">
                        <mat-radio-button checked="True" value="SEP">SEP</mat-radio-button>
                        <mat-radio-button value="JAN">JAN</mat-radio-button>
                        <small *ngIf="occurrence.invalid && occurrence.touched">*Occurrence is required</small>
                    </mat-radio-group>
                </div>

                <div class="radio-grp-spacer">
                    <mat-label for="modeOfAttendance">Mode Of Attendance: </mat-label>
                    <mat-radio-group id="modeOfAttendance" name="modeOfAttendance"
                        [ngModel]="enrolmentDetails.modeOfAttendance">
                        <mat-radio-button checked="true" value="FULL TIME">Full Time</mat-radio-button>
                        <mat-radio-button value="PART TIME">Part Time</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="radio-grp-spacer">
                    <mat-label for="enrolmentStatus">Enrolment Status: </mat-label>
                    <mat-radio-group id="enrolmentStatus" name="enrolmentStatus"
                        [ngModel]="enrolmentDetails.enrolmentStatus">
                        <mat-radio-button checked="true" value="E">Enrolled</mat-radio-button>
                        <mat-radio-button value="N">Not Enrolled</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label for="courseEntryDate">Course Entry Date</mat-label>
                    <input matInput id="courseEntryDate" name="courseEntryDate"
                        [ngModel]="enrolmentDetails.courseEntryDate" required #courseEntryDate="ngModel"
                        [matDatepicker]="cedPicker">
                    <mat-datepicker-toggle matSuffix [for]="cedPicker"></mat-datepicker-toggle>
                    <mat-datepicker #cedPicker></mat-datepicker>
                    <small *ngIf="courseEntryDate.invalid && courseEntryDate.touched">*Course entry date is
                        required</small>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="expectedEndDate">Expected End Date</mat-label>
                    <input matInput id="expectedEndDate" name="expectedEndDate"
                        [ngModel]="enrolmentDetails.expectedEndDate" required #expectedEndDate="ngModel"
                        [matDatepicker]="eedPicker">
                    <mat-datepicker-toggle matSuffix [for]="eedPicker"></mat-datepicker-toggle>
                    <mat-datepicker #eedPicker></mat-datepicker>
                    <small *ngIf="expectedEndDate.invalid && expectedEndDate.touched">*Expected end date is
                        required</small>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="course">Course</mat-label>
                    <input type="text" id="course" name="course" [ngModel]="enrolmentDetails.course.courseName"
                        placeholder="Pick a Course" matInput [matAutocomplete]="auto" required #course="ngModel"
                        (ngModelChange)="doFilter($event)">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option.courseName">
                            {{option.courseCode + ": " + option.courseName}}
                        </mat-option>

                    </mat-autocomplete>
                    <small *ngIf="course.invalid && course.touched">*Course is required</small>
                </mat-form-field>

            </form>
            <button mat-flat-button class="add-btn-spacer" color="primary"
                [disabled]="courseEnrolmentForm.form.invalid"
                (click)="addUpdateCourseEnrolment(courseEnrolmentForm)">
                {{isEnrolmentFormUpdate ? 'Update' : 'Add'}}
            </button>
            <button mat-stroked-button (click)="resetCourseEnrolmentForm(courseEnrolmentForm)">Cancel</button>
        </div>
    </div>
    
    <div class="submit-cancel-row">
        <button mat-flat-button class="submit-btn-spacer" color="primary" type="submit"
            [disabled]="studentRegistrationForm.form.invalid"
            (click)="submitStudentDetailsConfirmation(studentRegistrationForm, courseEnrolmentForm)">Submit</button>
        <button mat-stroked-button (click)="resetAllForms(studentRegistrationForm, courseEnrolmentForm)">Cancel</button>

    </div>

</div>