
input.ng-invalid.ng-touched{
    border: red 1px solid;
}

small{
    color: red;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.component-spacer {
    margin-bottom: 30px;
}