// input.ng-invalid.ng-touched{
//     border: red 1px solid;
// }

small {
    color: red;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.component-spacer {
    margin-bottom: 30px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.submit-btn-spacer {
    margin-right: 12px;
}

.add-btn-spacer{
    margin-right: 12px;
}

.submit-cancel-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio-grp-bottom-spacer{
    margin-bottom: 18px;
}